*{
  font-family: Arial;
}

.container {
  display: flex;
  margin: auto;
  width: 100%;
  height: max-content;

}

.innercontainer {
  width: 90%;
  height: 75vh;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px blue;
}

.allimages {
  height: 20vh;
  display: flex;
  align-items: center;

}

.mainImage img {
  width: 80%;
  margin: 20px;
  padding: 20px;

}

.smallphoto {
  display: flex;
  flex-direction: column;
}
.smallphoto img {
  height: 8vh;
  margin-bottom: 9px;
  cursor: pointer;
  /* opacity: 0.8; */
} 

.textBox {
  width: max-content;
  height: max-content;
  display: flex;
  
  padding: 10px;
  /* background-color: gray; */
  /* background: linear-gradient(117deg, #a59792 60%, #f01e1e 60%); */
  border-radius: 10px;

}

h2 {
  font-size: 25px;
  color: rgb(46, 45, 45);
  margin-bottom: 10px;
}
.detailbox{
  
  border-bottom: 1px solid rgb(207, 204, 204) ;
}
.descriptiontext {
  font-size: 17px;
  font-weight: normal;
}
.rating {
  margin-bottom: 60px;
}
.reviews{
  align-items: baseline;
}

.delcartBox {
display: flex;
justify-content: space-evenly;
gap: 20px;
margin: 20px;
margin-top: 50px;

}
.deliveryBox {
  width: 70%;
  background-color: #f3f3f3;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  
}
.deliveryForm {
  display: flex;
align-items: center;
gap: 5px;
margin: 10px;
margin-left: 50px;
font-size: 18px;
}

.check {
  color:white;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
.deliverymessage{
 text-align: center;
 font-size: 16px;
 color: #7d8183;
}
.errormessage {
  text-align: center;
  margin-top: 20px;
 font-size: 18px;
 color: red;
}
.cartBox{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(207, 204, 204) ;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
}
.priceBox {
display: flex;
gap: 10px;
align-items:baseline;
} 
.discount{
  font-size: 20px;
  color: #09c890;
}
.strikedoff{
  font-size: 18px;
   color: grey;
   text-decoration: line-through;
}
.price{
  font-size: 20px;
}

.tax-text {
  color: #7d8183;
  margin-top: -10px;
  margin-bottom: -10px;

}


.quantity-box {
display: flex;
gap: 5px;
align-items: baseline;
}
.quantity-display{
font-size: 18px;
color: red;
font-weight: bolder;
}
.quantity-button-minus{
  border: none;
}
.quantity-button-plus{
  border: none;
}

.add-to-cart-button{
padding: 10px;
background-color: red;
border: none;
color: rgb(252, 252, 252);
font-size: 16px;
border-radius: 5px;
cursor: pointer;
}

.imageside {
  width: 50%;
  
}

.imageside > img {
  width: 70%;
  margin-left: 100px;
}
.belowcart {
  margin:-10px;
}
.Div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

#firstbox {
  background-color: #e4e4e4;
  padding: 10px;
}

#firstbox img {
  width: 70%;
}

#secondbox {
  background-color:#b6ceee;
  padding: 10px;
  
}

#secondbox>img {
  width:87%;
  
}

.textBox>div>div>img {
  width: 23%;
}

/*  Below product details and description*/

.policy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0 10px 0;
  background-color: #e8edf0;

}
.policy img {
  width: 60px;
}

.policy img + p {
  margin-left: -90px;
}


.descriptionNav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20% 20px 20%;
  background-color: black;
  color: white;
  
}
.descriptionNav > h3{
  color: rgb(168, 165, 165);
  cursor: pointer;
}
.descriptionNav > h3:hover{
  color: red;
}

.description {
  text-align: center;
  padding: 10px 10% 10px 10%;

}
.description > h1 {
 font-size: 40px; 
 font-weight: 800;
}

.description > p {
  margin: 30px 0px 20px 0;
}

.Div1 {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  color: black;

}

.Div1 > div {
  padding: 0 10% 0 10%;
  width: 60%;
}

.Div1 > div > img {
  width: 100%;
  margin-left: -10%;
}


#FAQ {
      
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: larger;
}

h4 {
  font-size: small;
  font-style: italic;
  color: #7d8183;
}
  
.blogtitle {
 
  margin-bottom: -10px;
  text-align: center;
}

.A {
  color: red;
  text-align: center;
  }

.blogboxMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.blogboxMain > div {
  width: 22%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.blog-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.blog-title {
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  text-align:left;
  cursor: pointer;
}
.blog-title:hover {
  color: red;
}



@media only screen and (min-width: 320px) and (max-width: 599px) {
  .innercontainer {
    flex-direction: column;
    margin: auto;
    width: 100%;
    
  }

  .mainImage {
  
   width: 100%;
   height: 100%;
   margin: auto;
   margin-top: 140%;
   
  }

  
  .textBox {
    margin-top: 190%;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .rating {
    margin-bottom: 10px;
  }

  .delcartBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
  }

  .deliveryBox {
    width: 100%;
   
  }
  .deliveryForm {
    flex-direction: column;
  margin: auto;
  
  }

  .deliveryText{
    display: none;
  }
  .cartBox {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  .priceBox {
    margin-top: -20px;
    margin-bottom: -5%;
  }
  .discount{
    font-size: 18px;
    color: #09c890;
  }
  .strikedoff{
    font-size: 16px;
     color: grey;
     text-decoration: line-through;
  }
  .price{
    font-size: 20px;
  }
  .quantity-box{
    justify-content: center;
    margin-top: -5%;
  }

  .add-to-cart-button {
    margin-top: -5%;
  }
  

  .smallphoto {
    display: none;
  }
  .belowcart {
   
    margin:-10px;
    margin-top: 140%;
  }
  .policytext {
    display: none;
  }
  .descriptionNav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;;
    margin: auto;
    padding: 20px 20% 20px 20%;
    background-color: black;
    color: white;
    font-size: small;
  }

  .description > h1{
    font-size: 20px;
  }
    .description > p{
      font-size: 14px;
  }

  .Div1{
    display: flex;
    flex-direction: column;
    
  }
  .Div1 > div {
   width: 100%;
   padding: 10px;
  }
  .Div1 > div >h1,p {
    padding: 10px;
   }

   .Div1 > div >img  {
   width: 100%;
   margin: auto;
   }

  .Div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
   
  }

  .Div9 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .Div9 > div {
    padding: 5px;
    text-align: left;
  }
  .Div9 > div > h1 {
    padding: 5px;
  }

  #firstbox {
    background-color: #e4e4e4;
    padding: 10px;
    
  
    
  }
  
  #firstbox img {
    width: 79%;
  }
  
  #secondbox {
    background-color:#b6ceee;
    padding: 10px;
   
    
  }
  #secondbox>img {
    width: 82%
  }
  
  .blogboxMain {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .blog-title {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    text-align:left;
    cursor: pointer;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .innercontainer {
    flex-direction: column;
    margin: auto;
    width: 100%;
    
  }

  .mainImage {
  
   width: 100%;
   height: 100%;
   margin: auto;
   margin-top: 50%;
   
  }

  
  .textBox {
    margin-top: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .rating {
    margin-bottom: 10px;
  }

  .delcartBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    
  }

  .deliveryBox {
    width: 100%;
   
  }
  .deliveryForm {
    flex-direction: column;
  margin: auto;
  
  }

  .deliveryText{
    display: none;
  }
  .cartBox {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  .priceBox {
    margin-top: -20px;
    justify-content: center;
  }
  .quantity-box{
    justify-content: center;
  }
  

  .smallphoto {
    display: none;
  }
  .belowcart {
    margin-top: 40%;
    margin-left: -10px;
    margin-right: -10px;
  }
  .policytext {
    display: none;
  }
  .descriptionNav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;;
    margin: auto;
    padding: 20px 20% 20px 20%;
    background-color: black;
    color: white;
    font-size: small;
  }

  .Div9 {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #firstbox {
    background-color: #e4e4e4;
    padding: 10px;
  }
    
  #firstbox img {
    width: 80%;
    
  }
  
  #secondbox {
    background-color:#b6ceee;
    padding: 10px;
    
  }
    
  
  #secondbox img {
    width: 98%
  }
  
  .blogboxMain {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  .blog-title {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    text-align:left;
    cursor: pointer;
  }
}
