*{
    font-family: Arial, Helvetica, sans-serif;
}
.upper {
    background-color: #f5f5f5;
  
}
.upper :nth-child(2){
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}
.upper h1{
    font-size: 60px;
    text-align: center;
    color: #282828;
}
.upper p {
    text-align: center;
    font-size: 20px;
    color: rgb(59, 58, 58);
  
}

.bottom{
    width: 50%;
    margin: auto;
    color: #282828;
    margin-top: 100px;
    
}


.bottom p{
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 25px;
}
.bottomsec {
    margin: 30px;   
    margin-top: 10%;
    
    text-align: center;
}
.bottomsec :first-child{
    font-size: 30px;
}

.explorebox{
    display: flex;
    width: 40%;
    margin: auto;
    
    gap: 20px;
   
}
.explorebox div{
    background-color: #f5f5f5;
}
.explorebox img {
    width: 100%;
}

.explorebox h1 {
    width: 90%;
    font-size: medium   ;
 padding-left: 10px;
 

}

/* Responsive Styles */
@media screen and (max-width: 480px) {
    .upper h1 {
      font-size: 40px;
    }
  
    .upper p {
      font-size: 18px;
    }
  
    .bottom {
      width: 70%;
    }
  
    .bottomsec :first-child {
      font-size: 24px;
    }
  
    .explorebox {
      flex-direction: column;
    }
    .explorebox h1{
    font-size: 12px;
   

    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .upper h1 {
      font-size: 30px;
    }
  
    .upper p {
      font-size: 16px;
    }
  
    .bottom {
      width: 90%;
      margin-top: 50px;
    }
  
    .bottomsec :first-child {
      font-size: 20px;
    }
  
    .explorebox {
      width: 100%;
      flex-wrap: wrap;
    }
  
    .explorebox div {
      flex-basis: 50%;
    }
  }