* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.page-content {

    margin-top: 10%;
}

.customer-head {
    margin-bottom: 15%;
    min-width: 200px;
}

.customer-login-container>.otp-login-head {
    margin-bottom: 5%;
}

.otp-login-head>h2 {
    font-size: xx-large;
    letter-spacing: .06em;
}

.signup-link {
    margin-top: 7%;
}

#spanText {
    font-size: x-large;
    font-weight: bold;

}

.auth-page-title>img {
    margin-left: 30px;
    width: 280px;
}

.login-head-bottom-border>svg {
    margin-left: 50px;
}

#spanText>a {
    text-decoration: none;
    color: #ed1c24;
    font-family: Metropolis;
}

.signup-link span {
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #131313;
}

.otp-login-body-container {
    padding-top: 14px;
}

.login-input-container>input {
    background: #F4F4F4 !important;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    height: 60px;
    min-width: 330px;
}

.login-input-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-input-container>input, input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button  {
    text-align: start;
    padding-left: 5%;
    font-size: larger;
    letter-spacing: .06em;
    -webkit-appearance: none;
  /* margin: 0; */
}

#send-otp-btn {

    margin-top: 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    letter-spacing: .06em;
    border-radius: 10px;
    height: 60px;
    min-width: 330px;
    background: #ed1c24;
    color: white;
    border: none;
    font-size: larger;
    font-weight: 800px;

}